.social__rightbar{
  flex:3.5;
}
.social__rightbarWrapper{
  padding: 20px 20px 0 0;

}
.social__birthdayContainer{
  display: flex;
  align-items: center;
}

.social__birthdatImg{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.social__birthdayText{
  font-weight: 300;
  font-size: 15px;
}

.social__rightbarAd{
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.social__rightbarTitle{
  margin-bottom: 20px;
}
.social__rightbarFriendList{
  padding: 0;
  margin: 0;
  list-style: none;
}
